/* COLORS */
$red: red;
$pink: hotpink;
$dark-blue: darkblue;
$off-white: #E0FFFF;

/* SPACING */
$padding: 2rem;

/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');

$font-base: 'Open Sans', sans-serif;
$font-secondary: 'Archivo Black', sans-serif;

$fs-300: 1rem;
$fs-400: 1.25rem;
$fs-500: 2rem;
$fs-600: 2.827rem;
$fs-700: 4rem;
$fs-800: 5.653rem;