@use 'layout';

/* COLORS */
$dark-blue: darkblue;
$clr-light-100: #fff;
$clr-light-300: #E0FFFF;
$clr-dark-900: #292929;
$clr-dark-600: #666;
$clr-dark-300: #4d4d4d;
$clr-orange: #f36745;
$clr-ocean-900: rgba(17, 85, 80, 1);

/* SPACING */
$padding: 2rem;

/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');

$font-base: 'Open Sans', sans-serif;
$font-secondary: 'Archivo Black', sans-serif;

$fs-300: 1rem;
$fs-400: 1.25rem;
$fs-500: 2rem;
$fs-600: 2.827rem;
$fs-700: 4rem;
$fs-800: 5.653rem;

body { 
    color: $clr-light-300;
    background-color: $clr-dark-900;
    font-family: $font-base;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 200px auto 200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
}

.header-main {
    background: url('../assets/images/bg-top.jpg') top center no-repeat;
    background-size: 100% auto;
    min-height: 200px;
    color: $clr-dark-900;
}

.gradient-blue {
    background: rgb(128,229,222);
background: linear-gradient(210deg, rgba(128,229,222,1) 0%, rgba(35,169,160,1) 25%, rgba(17,85,80,1) 100%);
}

.primary-footer {
    background: url('../assets/images/bg-footer.png') repeat bottom center $clr-orange;
    background-size: 100% auto;
    color: clr-white;
    font-size: $fs-300;
    height: 20vh;
    margin-top: 10rem;
    padding: $padding;
    text-align: center;
}
